<div id="fullpage" ng-controller="PageCtrl">
    <div class="title">find<i>a</i>bike</div>
    <div class="info" ng-show="!hide_form">
        <p>
            You were searching for a bike in Amsterdam but could not find one?<br/>
            Or maybe all bikes you liked are sold already?<br/>
            That's ok. This service will help you to find the bike you are looking for<br/>
            and you don't have to spend your time at all!<br/>
            <br/>
            How it works:<br/>
            <br/>
            We are tracking most popular 'bike-selling' groups on facebook<br/>
            and notify you when somebody posts a bike which matches<br/>
            your price and keywords.<br/>
            Just leave your email, set maximum price for bike and<br/>
            put some keywords ("van, moof" for example).
        </p>
    </div>
    <div class="form" ng-show="!hide_form">
        <form ng-submit="submitForm();">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="email" id="sample3" ng-model="form.email" required/>
                <label class="mdl-textfield__label" for="sample3">Email</label>
            </div>
            <div class="range">
                <span class="val">max price: €{{form.price}}</span>
                <br/>
                <span class="slider">
                    <input class="mdl-slider mdl-js-slider" type="range"
                           min="0" max="1000" value="0" ng-model="form.price" tabindex="0"/>
                </span>
            </div>
            <div class="keywords">
                <tags-input ng-model="form.keywords" placeholder="Keywords"></tags-input>
            </div>
            <div class="submit_wrapper">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect submit"
                        type="submit">
                    GO
                </button>
            </div>
        </form>
    </div>
    <div class="info center" ng-show="hide_form">
        Ok, now relax, and just wait for email! =)
    </div>
</div>