<div id="fullpage" ng-controller="PageCtrl">
    <div class="title">find<i>a</i>bike</div>
    <div class="info">
        <p>You are unsubscribed. Enjoy your new Bike!</p>
    </div>
</div>
<script>
    ga('send', 'event', 'unsubscribe');
</script>