<div id="fullpage">
    <div class="section s1">
        <div class="block d1000 big">
            <span>We will help you to find</span>
            <br/>
            <span>a new bike.</span>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
    <div class="section s2">
        <div class="block d1000">
            <span>Here will be awesome</span>
            <br/>
            <span>text.</span>
        </div>
    </div>
    <div class="section s3">
        <div class="block d1000">
            <span>Here will be awesome</span>
            <br/>
            <span>text.</span>
            <span>Here will be awesome</span>
            <br/>
            <span>text.</span>
        </div>
        <div class="block d1500">
            <span>Here will be awesome</span>
            <br/>
            <span>text.</span>
            <span>Here will be awesome</span>
            <br/>
            <span>text.</span>
        </div>
    </div>
</div>