<div id="fullpage">
    <div class="section s1">
        <div class="block d1000">
            <div class="form">
                <form action="#" ng-submit="submitForm();">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="email" id="sample3" ng-model="form.email" required/>
                        <label class="mdl-textfield__label" for="sample3">Email</label>
                    </div>
                    <div class="range">
                        <span class="val">max price: €{{form.range}}</span>
                        <span class="slider">
                            <input class="mdl-slider mdl-js-slider" type="range"
                                   min="0" max="1000" value="0" ng-model="form.range" tabindex="0"/>
                        </span>
                    </div>
                    <div>
                        <tags-input ng-model="form.keywords"></tags-input>
                    </div>
                    <div class="submit_wrapper">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect submit"
                                type="submit">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>